/* ===========================
      NAVBAR
=========================== */

.navbar{
    position:fixed;
    top:10px;
    left:50%;
    transform:translateX(-50%);
    width:94%;
    z-index:9999;
    backdrop-filter:blur(18px);
    background:rgba(10,10,10,.75);
    border:1px solid var(--glass-border);
    border-radius:18px;
    transition:.35s;
}

.nav-container{

    display:flex;

    justify-content:space-between;

    align-items:center;

    height:78px;

}

.logo{

    display:flex;

    align-items:center;

    gap:12px;

    font-size:28px;

    font-weight:700;

}

.logo-icon{

    width:48px;

    height:48px;

    display:flex;

    justify-content:center;

    align-items:center;

    border-radius:14px;

    background:linear-gradient(135deg,var(--gold),var(--gold-light));

    color:#000;

}

.logo-text span{

    color:var(--gold);

}

.nav-links{

    display:flex;

    list-style:none;

    gap:38px;

}

.nav-links a{

    color:var(--grey-light);

    transition:.3s;

}

.nav-links a:hover{

    color:white;

}

.nav-buttons{

    display:flex;

    gap:15px;

}

.login-btn{

    background:transparent;

    color:white;

    padding:12px 26px;

    border-radius:12px;

    border:1px solid var(--glass-border);

}

.search-btn{

    background:linear-gradient(135deg,var(--gold),var(--gold-light));

    color:black;

    padding:12px 28px;

    border-radius:14px;

    font-weight:600;

}

.menu-btn{

    display:none;

    font-size:28px;

    cursor:pointer;

}


@media (max-width:768px){

    .nav-links{

        display:none;

        position:absolute;

        top:88px;

        left:5%;

        width:90%;

        background:#111;

        border:1px solid var(--glass-border);

        border-radius:18px;

        flex-direction:column;

        gap:20px;

        padding:25px;

        text-align:center;

    }

    .nav-links.active{

        display:flex;

    }

    .nav-buttons{

        display:none;

    }

    .menu-btn{

        display:block;

    }

    .logo{

        font-size:22px;

    }

}