@media(max-width:1100px){

.nav-links{

display:none;

}

.nav-buttons{

display:none;

}

.menu-btn{

display:block;

color:white;

}

}

@media(max-width:900px){

.stats-grid{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:600px){

.stats-grid{

grid-template-columns:1fr;

}

}


@media(max-width:1000px){

.cities-grid{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:650px){

.cities-grid{

grid-template-columns:1fr;

}

.section-header h2{

font-size:42px;

}

.hero h1{

font-size:52px;

}

}


@media(max-width:1000px){

    .cuisine-grid{

        grid-template-columns:repeat(2,1fr);

    }

}

@media(max-width:650px){

    .cuisine-grid{

        grid-template-columns:1fr;

    }

}


@media(max-width:1100px){

.restaurant-grid{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:700px){

.restaurant-grid{

grid-template-columns:1fr;

}

}